
<div id="header" style="display: flex; justify-content: space-between; align-items: center;">

  <div style="display: flex;">
    <div style="display: flex; align-items: center; padding-right: 4px;">
      <img src="../assets/leaf.png" alt="Leaf icon" width="18" height="18">
    </div>
    
    <div style="display: flex; align-items: center;"> 
      <span style="display: flex; align-items: end;">
        <span style="font-size: 24px;">J</span> 
      </span>
      <span style="margin-right: 4px;">ames</span>
      <span style="display: flex; align-items: end;">
        <span style=" padding-top: 4px; font-size: 24px;">B</span>
      </span>
      <span style="margin-right: 4px;">rantley </span>
      <span style="font-size: 13px;" >LMT</span>
    </div>
  </div>

  <div *ngIf="isMobileUser; else fullNumber" >
    <a class="header-icons" mat-icon-button aria-label="Call" href="tel:+1-615-481-4826" >
      <mat-icon>phone</mat-icon>
    </a>
    <a class="header-icons" mat-icon-button aria-label="Text" href="sms:+1-615-481-4826" >
      <mat-icon>textsms</mat-icon>
    </a>
  </div>

  <ng-template #fullNumber>
    <div style="display: flex; justify-content: center; align-items: center; gap: 4px;">
      <div *ngIf="!isMobileSize">Nashville, TN | Text or call</div>
      <a href="tel:+1-615-481-4826">615-481-4826</a>
    </div>
  </ng-template>
</div>

<div id="content" style="display: flex; flex-direction: column; align-items: center; gap: 12px;">

  <div class="section">
    <ng-container [ngTemplateOutlet]="sectionTitle" [ngTemplateOutletContext]="{title:'Welcome'}"></ng-container>
    <!-- <div class="section-body">
      is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
    </div> -->
  </div>

  <div id="banner" style="display: flex; justify-content: center; align-items: center;">
    <div *ngIf="isMobileUser; else callStatement" >
      <div id="phone-btn">
        <a  href="sms:+1-615-481-4826">Text</a> or <a href="tel:+1-615-481-4826">call</a> for appointments 
      </div>
    </div>
    <ng-template #callStatement>
      <div id="phone-box" style="display: flex; justify-content: center; align-items: center; gap: 4px;">
        <div>Text or call</div>
        <a href="tel:+1-615-481-4826">615-481-4826</a>
      </div>
    </ng-template>
  </div>

  <div class="section">
    <ng-container [ngTemplateOutlet]="sectionTitle" [ngTemplateOutletContext]="{title:'Services'}"></ng-container>
    <div class="section-body">
      <div class="sub-section">
        <div class="sub-title">Therapeutic</div>
        Through a combination of several styles, our technicians utilize your body's responses to guide their caring hands to provide the level of therapeutic touch your muscles require. By pulling from a variety of styles, like deep tissue, reflexology, gentle touch, and aromatherapy, we are able to release the tension within your body in a manner which best suits your needs.
      </div>
      <div class="sub-section">
        <div class="sub-title">Prenatal</div>
        Special care is provided during this joyous time of a woman's life, as we provide therapeutic work to your body. As your body goes through dramatic changes, a prenatal massage can help ease the body's tensions and help increase or enhance the functions of the muscles and joints, improve circulation and general body tone, and relieve mental and physical fatigue.
      </div>
    </div>
  </div>

  <div class="section">
    <ng-container [ngTemplateOutlet]="sectionTitle" [ngTemplateOutletContext]="{title:'Pricing and Hours'}"></ng-container>
    <div>
      <div class="sub-title">Pricing</div>
      <div class="row">
        <div>30 minutes</div> 
        <div>$65</div>
      </div>
      <div class="row">
        <div>60 minutes</div> 
        <div>$100</div>
      </div>
      <div class="row">
        <div>90 minutes</div> 
        <div>$130</div>
      </div>
      <div class="row">
        <div>120 minutes</div> 
        <div>$170</div>
      </div>
    </div>
  </div>

  <div></div>

  <div class="section">
    <div class="sub-title">Hours of Service</div>
    <div class="row">
      <div>Sunday</div> 
      <div>Closed</div>
    </div>
    <div class="row">
      <div>Monday</div> 
      <div>Closed</div>
    </div>
    <div class="row">
      <div>Tuesday</div> 
      <div>9:00am - 6:00pm</div>
    </div>
    <div class="row">
      <div>Wednesday</div> 
      <div>9:00am - 6:00pm</div>
    </div>
    <div class="row">
      <div>Thursday</div> 
      <div>9:00am - 6:00pm</div>
    </div>
    <div class="row">
      <div>Friday</div> 
      <div>9:00am - 6:00pm</div>
    </div>
    <div class="row">
      <div>Saturday</div> 
      <div>9:00am - 6:00pm</div>
    </div> 
    
    <div id="appointment-only">Massage By Appointment Only</div>
    
  </div>

</div>



<div id="footer" style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 4px;">

  <div *ngIf="showFullFooterList" style="display: flex; justify-content: space-evenly; align-items: center; gap: 8px; width: 90%;">
    <div style="display: flex; justify-content: space-evenly; align-items: center; width: 33%">OUT CALLS ONLY</div>
    <div style="display: flex; justify-content: space-evenly; align-items: center; width: 33%">THERAPEUTIC MASSAGE SINCE 1990</div> 
    <div style="display: flex; justify-content: space-evenly; align-items: center; width: 33%">GIFT CERTIFICATES AVAILABLE</div>
  </div>

  <div *ngIf="!showFullFooterList" style="display: flex; justify-content: space-evenly; align-items: center; gap: 8px; width: 90%;">

    <div class="frame">
      <div class="center">
        <div class="carousel">
          <div class="change_outer">
            <div class="change_inner">
              <div class="element">THERAPEUTIC MASSAGE SINCE 1990</div> 
              <div class="element">OUT CALLS ONLY</div>
              <div class="element">GIFT CERTIFICATES AVAILABLE</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="divider"></div>

  <div>HEALING TOUCH IN GREATER NASHVILLE</div>
  
  <div>Nashville, TN | Text or call <a href="tel:+1-615-481-4826">615-481-4826</a></div>
  <div id="rights-reserved">©2006-{{year}} James Brantley LMT - all rights reserved</div>
</div>


<ng-template #sectionTitle let-title='title'>
  <div class="section-title-container" style="display: flex; justify-content: center; align-items: center; gap: 12px;">
    <mat-icon class="section-title-icon-left">spa</mat-icon>
    <div class="section-title">{{title}}</div>
    <mat-icon class="section-title-icon-right">spa</mat-icon>
  </div>
</ng-template>