
<div id="header" style="display: flex; justify-content: space-between; align-items: center;">

  <div style="display: flex;">
    <div style="padding-right: 6px;">
      <img src="../assets/leaf.png" alt="Leaf icon" width="15" height="15">
    </div>
    
    <div style="display: flex; align-items: center;">James Brantley LMT</div>
  </div>

  <div>
    <button mat-icon-button aria-label="Show More">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>

<div id="content" style="display: flex; flex-direction: column; align-items: center; gap: 12px;">
  <div id="phone-btn-container" style="display: flex; justify-content: center; align-items: center; ">
    <a id="phone-btn" href="tel:+1-615-481-4826">Call or text for appointments </a>
  </div>

  <div>
    <div>Services</div>
    <div>
      Therapeutic
      Through a combination of several styles, our technicians utilize your body's responses to guide their caring hands to provide the level of therapeutic touch your muscles require. By pulling from a variety of styles, like deep tissue, reflexology, gentle touch, and aromatherapy, we are able to release the tension within your body in a manner which best suits your needs.
      
      Prenatal
      Special care is provided during this joyous time of a woman's life, as we provide therapeutic work to your body. As your body goes through dramatic changes, a prenatal massage can help ease the body's tensions and help increase or enhance the functions of the muscles and joints, improve circulation and general body tone, and relieve mental and physical fatigue.
    </div>
  </div>

  <div>
      Pricing
      30 minutes	
      $65
      60 minutes	
      $100
      90 minutes	
      $130
      120 minutes	
      $170

      
      Hours of Service
      Sunday
      and
      Monday	
      No Appointments
      Currently Available

      Tuesday through
      Saturday	
      Appointments
      Available From
      9:00am to 6:00pm
      Massage By Appointment Only
  </div>

  <div> THERAPEUTIC MASSAGE SINCE 1990</div> 
  <div>OUT CALLS ONLY</div>
  <div>Gift Certificates Available</div>
</div>

<div class="divider"></div>

<div id="footer" style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 4px;">
  <div>HEALING TOUCH IN GREATER NASHVILLE</div>
  <div>Nashville, TN | Call or Text <a href="tel:+1-615-481-4826">615-481-4826</a></div>
  <div id="rights-reserved">©2006-{{year}} James Brantley LMT - all rights reserved</div>
</div>