/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    position: relative;
}

button {
    background-color:rgb(219, 240, 179);
}